<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.vti.springexam.mapper.BookCustomMapper">
	<resultMap id="bookCustomized"
		type="vn.com.vti.springexam.entity.BookCustomized">
		<id property="bookId" column="BOOK_ID" />
		<result property="bookName" column="BOOK_NAME" />
		<result property="price" column="PRICE" />
		<result property="onSaleDate" column="ON_SALE_DATE" />
		<result property="publisherId" column="PUBLISHER_ID" />
		<result property="publisherName" column="PUBLISHER_NAME" />
	</resultMap>
	<select id="selectByNamePart" resultMap="bookCustomized">
		SELECT
		B.*
		,P.PUBLISHER_NAME
		FROM
		BOOK AS B
		LEFT OUTER JOIN PUBLISHER AS P
		ON B.PUBLISHER_ID = P.PUBLISHER_ID
		WHERE
		B.BOOK_NAME LIKE #{bookName}
		ORDER BY BOOK_ID
	</select>
</mapper>